.articlegrid{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.productboxformat{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border:0px solid #f3f1e7;;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(163, 162, 162, 0.3);
    margin: 0px;
    padding: 0px;
    height: 350px;
    width: 300px;
    overflow: hidden;
    background-color:#f5f3eb;
}


.productbox-section2{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h2{
    margin: 0px;
    margin-top: 5px;
    margin-bottom:10px;
    padding: 0px;
    padding-left: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing:1px;
    color: rgb(27, 27, 27);
}

p{
    margin: 0px;
    padding-left: 3px;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(27, 27, 27);
}

.itemdescformat{
    margin-bottom: auto;
}

.salepriceformat{
    color: rgb(216, 27, 27);
    margin-bottom:1px;
    font-weight:bolder;
}

.regularpriceformat{
    color:rgb(90, 89, 89);
    margin-bottom:10px;
    letter-spacing: 1px;
}


button{
    text-align:left;
    font-size:14px;
    padding:9px;
    padding-left:3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    border:0px;
    border-radius:0px;
    background-color:rgb(27, 27, 27);
}